ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,h2,h3,p{
    margin: 0;
}

section{
    outline: solid green;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}