body {
    font-family: 'Roboto';

}


.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.logo2 {
    color: #000;
}

.header-nav {
    display: flex;
    gap: 93px;
    align-items: center;

}

.header-list {
    display: flex;
    gap: 50px;

}

.header-contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 50px;
}


.header-page {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-page:hover {
    color: #2196F3;
}

.link-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.link-contact:hover {
    color: #2196F3;
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #212121;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #212121;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    border: #2196F3;
    width: 216px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.business {
    padding-top: 94px;
    padding-bottom: 94px;
}

.business-list {
    display: flex;
    gap: 30px;

}



.business-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}

.business-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.helpers {
    padding-bottom: 94px;
}

.helpers-list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.helpers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;

}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;

}

.team-list-item {
    padding-bottom: 30px;
}

footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    display: block;
    margin-bottom: 20px;

}

.footer-logo2 {
    color: #FFFFFF;
}

.footer-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-style: normal;
    margin-bottom: 9px;
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 9px;

}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: solid #f32121;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.decision {
    padding-top: 200px;
    padding-bottom: 200px;
}